.footer{
    background: #222831;
    color: #fff;
    text-align: center;
    font-size: 14px;
    height: 80px;
    display: grid;
    place-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}