.home {
  min-height: 100vh;
  .top {
    .top-login {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__title {
        font-family: "Quicksand", sans-serif;
        font-size: 24px;
        color: $grey;
        // padding: 0 3rem;
        text-align: center;
        margin: auto;
        span {
          font-weight: 600;
          color: $grey-dark;
        }
      }

      &__profile {
        img {
          width: 40px;
          border-radius: 50%;
        }
      }
    }
  }

  &__side-theme {
    position: fixed;
    background: $theme;
    height: 100vh;
    top: 0;
    right: 0;
    width: 6.4rem;
    z-index: -1;
  }

  .list-container {
    padding: 0 2rem;

    &__list {
      position: relative;
      background: #fff;
      height: 70px;
      box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      display: flex;
      align-items: center;
      margin-top: 1.5rem;

      &:first-child {
        margin: 0;
      }

    }

    .mitali {
      transform: translate(-1rem);
      background: #000;
      width: 100px;
      height: 100px;
    }

    &__img-box {
      overflow: hidden;
      height: 70px;
      width: 70px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      margin-right: 1rem;
    }

    &__dp {
      height: 70px;
      width: 70px;
    }

    &__name {
      font-size: 14px;
      font-weight: 500;
    }

    &__votes {
      margin-top: 5px;
      font-size: 12px;
      color: $grey-dark;
    }

    &__more-btn {
      position: absolute;
      background: #fff;
      color: $theme;
      font-size: 20px;
      display: grid;
      place-items: center;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
      right: -12px;
    }
  }

  .sort {
    color: $grey;
    font-size: 12px;
    margin-top: 1rem;
    margin-bottom: -1rem;
  }
}
