.youtube-btn {
  background-color: #ff0000;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
  padding: 12px;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
}

.youtube-btn-icon {
  font-size: 1.8em;
  margin-right: 0.5rem;
}
